<section class="collection">
  <div class="container">
    <h2 class="collection-header">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <div class="container-img">
          <picture>
            <source
              srcset="
                ./img/collection/PoltavaWomBl.jpg    1x,
                ./img/collection/PoltavaWomBl@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection/collection_1-tablet.jpg   1x,
                ./img/collection/collection_1-tablet2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1157px )"
            />

            <source
              srcset="
                ./img/collection/collection_1-mob.jpg   1x,
                ./img/collection/collection_1-mob2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-img"
              src="../img/collection/collection_1-mob.jpg"
              alt="women's black embroidery shirt"
              width="335"
              height="400"
            />
          </picture>
        </div>
        <div class="collection-list-item-description">
          <h3 class="collection-list-item-title">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection-list-item-text">3300 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="container-img">
          <picture>
            <source
              srcset="
                ./img/collection/GorganyWomBl.jpg    1x,
                ./img/collection/GorganyWomBl@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection/collection_2-tablet.jpg   1x,
                ./img/collection/collection_2-tablet2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1157px )"
            />

            <source
              srcset="
                ./img/collection/collection_2-mob.jpg   1x,
                ./img/collection/collection_2-mob2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-img"
              src="../img/collection/collection_2-mob.jpg"
              alt="women's beige shirt with embroidery"
              width="335"
              height="400"
            />
          </picture>
        </div>
        <div class="collection-list-item-description">
          <h3 class="collection-list-item-title">Women's blouse Gorgany</h3>
          <p class="collection-list-item-text">3350 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="container-img">
          <picture>
            <source
              srcset="
                ./img/collection/CrimeaWomBl.jpg    1x,
                ./img/collection/CrimeaWomBl@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection/collection_3-tablet.jpg   1x,
                ./img/collection/collection_3-tablet2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1157px )"
            />

            <source
              srcset="
                ./img/collection/collection_3-mob.jpg   1x,
                ./img/collection/collection_3-mob2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-img"
              src="../img/collection/collection_3-mob.jpg"
              alt="women's white shirt with embroidery"
              width="335"
              height="400"
            />
          </picture>
        </div>
        <div class="collection-list-item-description">
          <h3 class="collection-list-item-title">Women's blouse Crimea</h3>
          <p class="collection-list-item-text">4000 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="container-img">
          <picture>
            <source
              srcset="
                ./img/collection/VerkhovinaMenShirt.jpg    1x,
                ./img/collection/VerkhovinaMenShirt@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection/collection_4-tablet.jpg   1x,
                ./img/collection/collection_4-tablet2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1157px )"
            />

            <source
              srcset="
                ./img/collection/collection_4-mob.jpg   1x,
                ./img/collection/collection_4-mob2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-img"
              src="../img/collection/collection_4-mob.jpg"
              alt="men's beige shirt with embroidery"
              width="335"
              height="400"
            />
          </picture>
        </div>
        <div class="collection-list-item-description">
          <h3 class="collection-list-item-title">Men's shirt Verkhovina</h3>
          <p class="collection-list-item-text">3100 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="container-img">
          <picture>
            <source
              srcset="
                ./img/collection/MountainMenShirt.jpg    1x,
                ./img/collection/MountainMenShirt@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection/collection_5-tablet.jpg   1x,
                ./img/collection/collection_5-tablet2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1157px )"
            />

            <source
              srcset="
                ./img/collection/collection_5-mob.jpg   1x,
                ./img/collection/collection_5-mob2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-img"
              src="../img/collection/collection_5-mob.jpg"
              alt="men's black shirt with embroidery"
              width="335"
              height="400"
            />
          </picture>
        </div>
        <div class="collection-list-item-description">
          <h3 class="collection-list-item-title">Mountain men's shirt</h3>
          <p class="collection-list-item-text">3300 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="container-img">
          <picture>
            <source
              srcset="
                ./img/collection/YasenMenShirt.jpg    1x,
                ./img/collection/YasenMenShirt@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection/collection_6-tablet.jpg   1x,
                ./img/collection/collection_6-tablet2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1157px )"
            />

            <source
              srcset="
                ./img/collection/collection_6-mob.jpg   1x,
                ./img/collection/collection_6-mob2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-img"
              src="../img/collection/collection_6-mob.jpg"
              alt="men's white shirt with red embroidery"
              width="335"
              height="400"
            />
          </picture>
        </div>
        <div class="collection-list-item-description">
          <h3 class="collection-list-item-title">Men's shirt Yasen</h3>
          <p class="collection-list-item-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
