<footer class="footer">
    <div class="container">
      <nav class="footerlinks">
        <ul class="list-links">
        <div class="footerlinks-column">
            <li><a href="#about" class="nav-link">About us</a></li>
            <li><a href="#collection" class="nav-link">Our collection </a></li>
        </div>
        <div class="footerlinks-column">
            <li><a href="#order" class="nav-link">Customer order</a></li>
            <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
      </div>
      </nav>
      <div class="moto">
        <p>
          A touch of <span class="accent">Ukrainian</span> culture in every embroidery
        </p>
      </div>
    </div>
  </footer>
