<footer class="footer">
  <div class="container">

    <div class="footerlinks">
      <div class="footerlinks-column">
        <ul class="list-links">
          <li><a href="#about" class="nav-link">About us</a></li>
          <li><a href="#collection" class="nav-link">Our collection </a></li>
        </ul>
      </div>

      <div class="footerlinks-column">
        <ul class="list-links">
          <li><a href="#order" class="nav-link">Customer order</a></li>
          <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
        </ul>
      </div>
    </div>

    <div class="moto">
      <p>
        A touch of <span class="accent">Ukrainian</span> culture <br class="title-break-mob" /> in every <br class="title-break-tablet" />
        embroidery
      </p>
    </div>

    <div class="embroidery"> 

    </div>
  </div>
</footer>
