<header class="header" id="header">
  <div class="container header-container">
    <div>
      <a href="#header" class="header-logo"
        ><img
          src="./img/header/logo.svg"
          alt="logo-img"
          class="header-logo-image"
          width="44"
          height="39"
        />
      </a>
    </div>
    <nav class="header-navigation">
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a href="#about" class="header-navigation-link">About us</a>
        </li>
        <li class="header-navigation-item">
          <a href="#collection" class="header-navigation-link"
            >Our collection</a
          >
        </li>
        <li class="header-navigation-item">
          <a href="#order" class="header-navigation-link">Custom order</a>
        </li>
        <li class="header-navigation-item">
          <a href="#testimonials" class="header-navigation-link"
            >Testimonials</a
          >
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a href="tel:+380684439426" class="header-tel">+380 (68) 443-94-26</a>
    </address>
    <div class="header-links-wrapper">
      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            href="https://www.facebook.com/goITclub/ "
            target="_blank"
            rel="noopener noreferer"
            class="header-social-link"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="./img/header/icons.svg#icon-face"></use></svg></a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferer"
            class="header-social-link"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="./img/header/icons.svg#icon-instagram"></use></svg></a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferer"
            class="header-social-link"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="./img/header/icons.svg#icon-youtube"></use></svg></a>
        </li>
      </ul>
      <button class="header-burger-btn" type="button">
        <svg class="header-burger-icon" width="36" height="24">
          <use href="./img/header/icons.svg#icon-Nav"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu is-open">
    <div class="mob-container">
      <div class="top-wrapper">
        <a href="tel:+380684439426" class="mob-tel">+380 (68) 443-94-26</a>
        <button class="mob-close-btn">
          <svg class="mob-close-icon" width="36" height="36">
            <use href="./img/header/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div>
        <nav class="mob-navigation">
          <ul class="mob-navigation-list">
            <li class="mob-navigation-item">
              <a href="#about" class="mob-navigation-link">About us</a>
            </li>
            <li class="mob-navigation-item">
              <a href="#collection" class="mob-navigation-link"
                >Our collection</a
              >
            </li>
            <li class="mob-navigation-item">
              <a href="#order" class="mob-navigation-link">Custom order</a>
            </li>
            <li class="mob-navigation-item">
              <a href="#testimonials" class="mob-navigation-link"
                >Testimonials</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="mob-bg-img"></div>
  </div>
</header>
