<section class="hero">
  <div class="container container-hero">
    <div class="hero-flex">
      <div class="text-cont">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-word">Ukrainian</span> artistry in every stitch.
        </h1>
        <a class="hero-btn" href="#order"
          >order
          <svg class="vector-icon" width="28" height="15">
            <use href="./img/icons.svg#icon-untitled"></use></svg></a>
      </div>
      <div class="foto-cont">
        <picture>
          <source
            srcset="
              ./img/hero/hero-desktop1440-1280.jpg   1x,
              ./img/hero/hero-desktop1440-12802x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/hero/hero-tablet.jpg   1x,
              ./img/hero/hero-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/hero/hero-mob.jpg 1x, ./img/hero/hero-mob2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="hero-girl"
            src="./img/hero/hero-desktop1440-1280.jpg"
            alt="girl"
            loading="lazy"
            width="413"
            height="575"
          />
        </picture>
      </div>
    </div>
    <div class="star">
      <svg class="star-icon" width="52" height="51">
        <use href="./img/icons.svg#icon-Star-10"></use>
      </svg>
      <p class="star-text">all embroidery is made by hand</p>
    </div>
    <picture>
      <source
        srcset="
          ./img/hero/hero_2-desktop1440.jpg   1x,
          ./img/hero/hero_2-desktop14402x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero/hero_2-desktop1280.jpg   1x,
          ./img/hero/hero_2-desktop12802x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero/hero_2-tablet.jpg   1x,
          ./img/hero/hero_2-tablet2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="print-ukr"
        src="./img/hero/hero_2-tablet.jpg"
        alt="print"
        loading="lazy"
        width="139"
        height="130"
      />
    </picture>
  </div>
</section>
