<section class="continer order-conainer">
  <h2 class="header-order">
    <span class="heder-yelow">Your order</span> is our priority: Personalized
    approach and quality of service
  </h2>
  <form action="">
   <div class="input-flex">
      <input
        type="text"
        name="user-name"
        class="order-input"
        placeholder="Enter your full name"
      />
      <input
        type="email"
        name="user-email"
        class="order-input"
        placeholder="Enter your email"
      />
      <textarea name="comment" id="" placeholder="Comment"  class="text-area-order"></textarea>
   </div>
    <buutton class="order-btn" type="submit"></buutton>
  </form>

  <buutton></buutton>
</section>
