.about-us-container {
  padding: 80px 20px;
  background-image: url(../img/about/ornament-mob.png);
  background-repeat: no-repeat;
  background-size: 280px 408px;
  background-position: bottom 2.4% right -1px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-us-container {
    background-image: url(../img/about/ornament-mob2x.png);
  }
}

.about-us {
  color: #fcf9f9;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}
.about-list {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .about-us-container {
    padding: 100px 32px;
    background-image: url(../img/about/ornament-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom 47px right -14px;
    background-size: 545px 484px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-us-container {
      background-image: url(../img/about/ornament-tablet2x.png);
    }
  }

  .about-us {
    font-size: 44px;
    line-height: 1.46;
  }
  .about-list {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-us-container {
    padding: 150px 100px;
  }

  .about-desctop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
