.collection {
    background-image: url(../img/collection/ornament-mob.png);
    background-repeat: no-repeat;
    background-position: 0% 10%;
    /*background-position: 0% 78%;
    background-attachment: fixed;*/
    max-width: 375px;
    overflow: hidden;
}

/*@media (min-resolution: 192dpi) {
    .collection {
        background-image: url(../img/collection/ornament-mob@2x.png);
    }
}*/

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.collection-header {
    color: #FCF9F9;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.collection-list-item {
    margin-bottom: 20px;
}

.collection-list-item:last-child {
    margin-bottom: 0;
}

.container-img {
    position: relative;
    overflow: hidden;
}

.collection-img {
    border-radius: 4px;
    width: 100%;
}

.collection-list-item-description {
    padding: 18px 0 0 0;
}

.collection-list-item-title {
    color: #FCF9F9;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.collection-list-item-text {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
}

@media (min-width: 768px) {
    /*.container {
        max-width: 768px;
    }*/

    .collection-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 42px;
    }

    .collection-list-item {
        width: calc((100% - 20px) / 2);
        margin-bottom: 0;
    }

}

/*----------------------------------------------------desctop-------------------------------*/
@media (min-width: 1158px) {

    /*section {
        padding: 70px 0;
    }

    .container {
        max-width: 1158px;
        padding: 70px 0;
    }

    .collection-list {
        row-gap: 22px;
    }
*/
    .collection-list-item {
        width: calc((100% - 20px) / 3);
    }
}