
body{
font-family: "Manrope", sans-serif;
color:#FCF9F9;
background-color: #1C2225;
}

.container {
    max-width: 335px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 704px;

    }
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1080px;

    }
}

@media screen and (min-width:1440px) {
    .container {
        max-width: 1240px;
    }
}