.footer {
  margin-top: 40px;
}

.footerlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 40px;
  row-gap: 25px;
  margin-bottom: 40px;
  
}

.footerlinks-column {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.list-links {
  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
  row-gap: 25px;
  
  
}



.moto {
  color: var(--white, #fcf9f9);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -1.32px; 
  margin-bottom: 80px;
}

.accent {
  color: #ecd979;
}

.embroidery {
background-image: url(../img/footer/ornament-mob.png);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
max-width: 375px;
margin: 0 auto;
}


