.footer {
  margin-top: 40px;
}

.footerlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 40px;
  margin-bottom: 40px;
  
}

.footerlinks-column {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.list-links {
  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
  
  
  
}


.moto {
  color: var(--white, #fcf9f9);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -1.32px; 
  margin-bottom: 80px;
}

.accent {
  color: #ecd979;
}


.nav-link {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
    color: #ECD979;
}




.embroidery {
background-image: url(../img/footer/ornament-mob.png);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
max-width: 375px;
margin: 0 auto;
}

/* Версія для планшета */

@media screen and (min-width: 768px) {
    
    .list-links {
        display: flex;
        gap: 25px;
    }

    .footerlinks {
        gap: 25px;
    }

    .moto {
       width: 521px;
    }

    .title-break-mob {
        display: none;
    }

    
}
